button {
    letter-spacing: 0.5px;
    padding: 1%;
    line-height: 25px;
    background-color: rgb(211, 17, 121);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  